# SAM specific files and directories
.sam-outputs/
.sam-build/
samconfig.toml

# AWS Lambda specific files and directories
.aws-sam/

# Node.js build artifacts
node_modules/

# Python build artifacts
__pycache__/
*.pyc

# Rust build artifacts
target/
Cargo.lock