[package]
name = "lambda-otel-lite"
version = "0.13.0"
edition.workspace = true
authors.workspace = true
license.workspace = true
rust-version.workspace = true
description = "Lightweight OpenTelemetry instrumentation for AWS Lambda"
repository = "https://github.com/dev7a/serverless-otlp-forwarder/tree/main/packages/rust/lambda-otel-lite"
documentation = "https://docs.rs/lambda-otel-lite"
readme = "README.md"
keywords = ["aws", "lambda", "opentelemetry", "tracing", "telemetry"]
categories = ["development-tools::debugging", "web-programming::http-server"]
exclude = ["examples/"]

[dependencies]
otlp-stdout-span-exporter = { version = "0.13.0" }

opentelemetry.workspace = true
opentelemetry_sdk.workspace = true
tokio.workspace = true
serde_json.workspace = true
tracing.workspace = true
opentelemetry-aws.workspace = true
urlencoding.workspace = true
lambda_runtime.workspace = true
lambda-extension.workspace = true
tower.workspace = true
futures-util.workspace = true
futures-executor.workspace = true
tracing-subscriber.workspace = true
tracing-opentelemetry.workspace = true
pin-project.workspace = true
serde.workspace = true
aws_lambda_events.workspace = true
bon.workspace = true

[dev-dependencies]
tokio = { workspace = true, features = ["rt", "sync", "macros", "test-util"] }
mockall.workspace = true
opentelemetry-otlp = { workspace = true, features = ["http-proto", "http-json", "reqwest-client"] }
libc.workspace = true
doc-comment.workspace = true
reqwest.workspace = true
rand.workspace = true
sealed_test.workspace = true
serial_test.workspace = true
aws_lambda_events = { workspace = true, features = ["kinesis"] }
http.workspace = true
